html, body {
    padding: 0;
    margin: 0;
}
.panelContainer {
    height: 100%;
}
.infoPanel {
}
.mainPanel {
    background-color: #000000;
    position: absolute;
    top: 0;
    bottom: 0;
    width:100%;
    height:100%;
}
#joystick, #videoStream {
    top: 0;
    height: 100%;
    position: absolute;
}
#joystick {
    z-index: 2;
    position: absolute;
}
.controlPanel {
    position: absolute;
    bottom: 0;
    z-index: 3;
    padding: 0 2%;
    width: 96%;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}