{% extends "layout.html" %}

{% block content %}
    <div class="mainPanel" style="">
        <div id="videoStream" style="">
            <video id="liveStream" poster preload="true">
                <source src="#" type="video/mp4">
            </video>
        </div>
        <div id="joystick">
        </div>
    </div>

    <div class="controlPanel">
        <div>
            <div class="left" style="width: 80%">
                <button id="ping" class="btn btn-primary" type="button">Ping</button>
                <button id="lookMode" class="btn btn-primary" type="button">Look mode</button>
            </div>
            <div class="right" style="text-align: right; width: 20%">
                <button id="turnOff" class="btn btn-danger" type="button">Turn off</button>
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/virtualjoystick/virtualjoystick.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pirover.js') }}"></script>
{% endblock %}

{% block javascript_bottom %}
    <script>
        var rover = new PiRover();

        rover.init();

        $("#ping").bind("click", function () {
            rover.measureDistance();
        });

        $("#lookMode").bind("click", function () {
            if (rover.lookMode == false) {
                rover.lookMode = true;
                $(this).addClass("btn-info");
                $(this).removeClass("btn-primary");
            } else {
                rover.lookMode = false;
                $(this).addClass("btn-primary");
                $(this).removeClass("btn-info");
            }
        });

        $("#turnOff").bind("click", function () {
            rover.turnOff();
        });
    </script>
{% endblock %}